@import "tailwindcss";

:root {
  color-scheme: light;
  /* Forces light mode to prevent the black background */
}

body {
  @apply bg-gray-50 text-slate-900 antialiased;
  font-family: 'Inter', system-ui, sans-serif;
}